###############################################################################
# Configuration file for Mini Automation Server (MAS)
###############################################################################
# Syntax explained below
#
# #[comment text]
#   EXAMPLE: # This is a comment
#
# LAT_LONG <latitude> <longitude>
#   EXAMPLE: LAT_LONG 59.17 18.3
#
# GROUP <groupID> "<name>" <ID1> [<ID2> .. <IDn>]
#   <groupID> = G<ID>, for example G1 or G23. The G prefix is not required
#
# SENSOR <sensorID> "<name>" "<unique string>"
#   <sensorID> = S<ID>, for example S1 or S23. The S prefix is not required
#   <unique string> = This is a unique sequence sent by the sensor to 
#                     differentiate one sensor from another.
#
# EVENT <time>|<sensor> [<dayofweek>] [<restriction>] <function>
#   <time> = <hour>:<minute> or Sunrise or Sunset
#      NOTE 1: Sunrise and Sunset requires LAT_LONG to be set
#      NOTE 2: An optional offset in hours can be give to Sunrise and Sunset
#            EXAMPLES: Sunrise+1.5 Sunrise-3 Sunset+0.25
#   <sensor> = S_ON(<sensorID>) or S_ON(<sensorID>,<mintime>,<maxtime>) or
#              S_OFF(<sensorID>) or S_OFF(<sensorID>,<mintime>,<maxtime>)
#                  <mintime> and <maxtime> = <hour>:<minute>
#      NOTE: Currently only on/off sensors are supported
#            such as motion- and door sensors.
#   <dayofweek> = Mon/Tue/Wen/Thu/Fri/Sat/Sun
#      NOTE: Any day may be omitted, for example Mon/Fri/Sun. 
#            If omitted event will be trigged all days
#   <restriction> = Sunup or Sundown
#      NOTE: Sunup and Sundown requires LAT_LONG to be set
#   <function> = ON(<ID>) or OFF(<ID>) or DIM(<ID>,<level>)
#      NOTE 1: ID might be a group
#      NOTE 2: Valid dim levels are 0 - 255
#
###############################################################################
# Below is an example which I'm personally using

# Latitude and longitude from Stockholm
LAT_LONG 59.17 18.3

# These are my device id / name definitions in tellstick.conf
#  ID 1 : "Lights cupboard downstairs"
#  ID 2 : "Christmas Lights Back"
#  ID 3 : "Christmas Lights Front"
#  ID 4 : "Garden Lights"
#  ID 5 : "Lights Lovina"
#  ID 6 : "Christmas Lights Joline"
#  ID 7 : "Window Lights Upstairs"
#  ID 8 : "Switch outside backyard"
#  ID 9 : "Switch storage front"
#  ID 10: "Switch spare"
#  ID 11: "Outside door lights"

# Motion sensor
#SENSOR S1 "Front motion sensor" "house:18614486;unit:10"
#EVENT S_ON(S1) Sundown on(11)
#EVENT S_OFF(S1) off(11)

# Garden Lights
EVENT Sunset+0.5 on(4)
EVENT 23:00 off(4)
EVENT 00:00 off(4)
EVENT 01:00 off(4)
EVENT 06:00 Sundown on(4)
EVENT Sunrise off(4)

# Outside door lights
EVENT Sunset+0.5 on(11)
EVENT 23:00 off(11)
EVENT 00:00 off(11)
EVENT 01:00 off(11)
EVENT 06:00 Sundown on(11)
EVENT Sunrise off(11)

# Lights Lovina
EVENT Sunset+0.5 on(7)
EVENT 19:00 off(7)

# Window Lights Upstairs
EVENT Sunset+0.5 on(7)
EVENT 23:00 off(7)
EVENT 00:00 off(7)
EVENT 01:00 off(7)
EVENT 07:00 Sundown on(7)
EVENT Sunrise off(7)

# Christmas Lights
#GROUP G1 "Christmas Lights All" 2 3 5 6 
#GROUP G2 "Christmas Lights childrens room" 5 6
GROUP G3 "Christmas Lights downstairs" 2 3

EVENT Sunset on(G3)
EVENT 23:00 off(G3)
EVENT 00:00 off(G3)
EVENT 01:00 off(G3)
EVENT Sunrise off(G3)
