###############################################################################
# Configuration file for Mini Automation Server (MAS)
###############################################################################
# Syntax explained below
#
# #[comment text]
#   EXAMPLE: # This is a comment
#
# LAT_LONG <latitude> <longitude>
#   EXAMPLE: LAT_LONG 59.17 18.3
#
# GROUP <groupID> "<name>" <ID1> [<ID2> .. <IDn>]
#   <groupID> = G<ID>, for example G1 or G23. The G prefix is not required
#
# EVENT <time> [<dayofweek>] [<restriction>] <function>
#   <time> = <hour>:<minute> or Sunrise or Sunset
#      NOTE 1: Sunrise and Sunset requires LAT_LONG to be set
#      NOTE 2: An optional offset in hours can be give to Sunrise and Sunset
#            EXAMPLES: Sunrise+1.5 Sunrise-3 Sunset+0.25
#   <dayofweek> = Mon/Tue/Wen/Thu/Fri/Sat/Sun
#      NOTE: Any day may be omitted, for example Mon/Fri/Sun. 
#            If omitted event will be trigged all days
#   <restriction> = Sunup or Sundown
#      NOTE: Sunup and Sundown requires LAT_LONG to be set
#   <function> = ON(<ID>) or OFF(<ID>) or DIM(<ID>,<level>)
#      NOTE 1: ID might be a group
#      NOTE 2: Valid dim levels are 0 - 255
#
###############################################################################
# Below is an example which I'm personally using

# Latitude and longitude from Stockholm
LAT_LONG 59.17 18.3

# These are my device id / name definitions in tellstick.conf
#  ID 1 : "Lights cupboard downstairs"
#  ID 2 : "Christmas Lights Back"
#  ID 3 : "Christmas Lights Front"
#  ID 4 : "Garden Lights"
#  ID 5 : "Christmas Lights Lovina"
#  ID 6 : "Christmas Lights Joline"
#  ID 7 : "Christmas Lights Upstairs"
#  ID 8 : "Switch outside backyard"
#  ID 9 : "Switch storage front"
#  ID 10: "Switch spare"

# Garden Lights
EVENT Sunset+0.5 on(4)
EVENT 22:00 off(4)
EVENT 23:00 off(4)
EVENT 00:00 off(4)
EVENT 01:00 off(4)
EVENT 07:00 Sundown on(4)
EVENT Sunrise off(4)

# Christmas Lights
GROUP G1 "Christmas Lights All" 2 3 5 6 7
GROUP G2 "Christmas Lights childrens room" 5 6
GROUP G3 "Christmas Lights downstairs" 2 3

EVENT Sunset on(G1)
EVENT 18:45 off(G2)
EVENT 22:00 off(G1)

EVENT 06:00 Sundown on(G3)
EVENT 07:00 Sundown on(7)
EVENT 08:00 Sundown on(G2)

EVENT Sunrise off(G1)

# Christmas Lights outside
EVENT Sunset on(8)
EVENT Sunrise off(8)
EVENT Sunset on(9)
EVENT Sunrise off(9)

