###############################################################################
# Configuration file for Mini Automation Server (MAS)
###############################################################################
# Syntax explained below
#
# #[comment text]
#   EXAMPLE: # This is a comment
#
# LAT_LONG <latitude> <longitude>
#   EXAMPLE: LAT_LONG 59.17 18.3
#
# GROUP <groupID> "<name>" <ID1> [<ID2> .. <IDn>]
#   <groupID> = G<ID>, for example G1 or G23. The G prefix is not required
#
# EVENT <time> [<dayofweek>] [<restriction>] <function>
#   <time> = <hour>:<minute> or Sunrise or Sunset
#      NOTE: Sunrise and Sunset requires LAT_LONG to be set
#   <dayofweek> = Mon/Tue/Wen/Thu/Fri/Sat/Sun
#      NOTE: Any day may be omitted, for example Mon/Fri/Sun. 
#            If omitted event will be trigged all days
#   <restriction> = Sunup or Sundown
#      NOTE: Sunup and Sundown requires LAT_LONG to be set
#   <function> = ON(<ID>) or OFF(<ID>) or DIM(<ID>,<level>)
#      NOTE 1: ID might be a group
#      NOTE 2: Valid dim levels are 0 - 255
#
###############################################################################
# Below is an example which I'm personally using for my garden lights

# Latitude and longitude from Stockholm
LAT_LONG 59.17 18.3

# ID 4 = Lights outside - backyard
EVENT Sunset on(4)
EVENT 22:00 off(4)
EVENT 07:00 Sundown on(4)
EVENT Sunrise off(4)
